<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sklep Internetowy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="~/Content/src/bootstrap.min.js"></script>
    <link href="~/Content/src/strona.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")

</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Content("~/")">Sklep Internetowy</a>
        <a     <div class="form-group">
        <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="@Url.Action("HistoriaZamowien", "Zarzadzanie")">Zamówienia</a>
        @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="@Url.Action("DodajProdukt", "Zarzadzanie")">Dodaj Produkt</a>
            }

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="btn-group">
                <div class="navbar-brand">
                    <center>@Html.Partial("_LoginPartial")</center>
                </div>
            </div>
            <a href="@Url.Action("Index", "Koszyk")" class="btn btn-outline-success my-2 my-sm-0">
                Koszyk
                <span class="badge badge-light" id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Koszyk")</span>
            </a>


        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer class="mt-auto" id="footer" style=" background-color: #f5f5f5;">
        <div class="container">
            <span class="text-muted">Adres: ul. Przykładowa 1, 00-000 Miasto</span><br>
            <span class="text-muted">Email: kontakt@sklep.pl</span><br>
            <span class="text-muted">Telefon: 123 456 789</span>
           <li><a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Onas" })" style=""> Onas</a></li>
        </div>
    </footer>
    @RenderSection("Scripts", required : false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
