@model Hurtownia.ViewModels.RegisterVM
@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Rejestracja</h2>
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.ValidationMessage("loginerror", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(o => o.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(o => o.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(o => o.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(o => o.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(o => o.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(o => o.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Zarejestruj się" class="btn btn-success btn-block" />
        </div>
    }


    <p class="text-center w-100">
        <a href="@Url.Action("Login")">Masz już konto? Zaloguj się.</a>
    </p>
</div>

    @section Scripts
{
        <script src="~/Scripts/jquery-3.7.0.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }
