@model Hurtownia.ViewModels.KoszykViewModel
@using Hurtownia.Infrastruktura
@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <h2>Koszyk</h2>
    <table class="table table-striped">
        <thead>

            <tr>
                <th scope="col">Obrazek</th>
                <th scope="col">Nazwa produktu</th>
                <th scope="col">Cena</th>
                <th scope="col">Ilość</th>
                <th scope="col">Usuń pozycję</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pozycjaKoszyka in Model.PozycjeKoszyka)
            {
                <tr id="koszyk-wiersz-@pozycjaKoszyka.Produkt.ProduktId">
                    <td><a href="@Url.Action("Szczegoly", "Produkty", new {id = pozycjaKoszyka.Produkt.ProduktId })"><img src="@Url.Content("~/Content/img/" + pozycjaKoszyka.Produkt.NazwaPlikuObrazka)" width="100" height="50" /></a></td>

                    <td><a href="@Url.Action("Szczegoly", "Produkty", new { id = pozycjaKoszyka.Produkt.ProduktId })">@pozycjaKoszyka.Produkt.NazwaProduktu </a></td>
                    <td>@string.Format("{0:0.##}", pozycjaKoszyka.Wartosc) zł</td>
                    <td><span id="koszyk-ilosc-pozycji-@pozycjaKoszyka.Produkt.ProduktId">@pozycjaKoszyka.Ilosc</span></td>
                    <td><a class="usunProdukt" data-id="@pozycjaKoszyka.Produkt.ProduktId" href="#" role="button">Usuń</a></td>
                </tr>
            }


            </td>

        </tbody>

    </table>  <center>
        @if (Model.PozycjeKoszyka.Count == 0)
        {
            <H2 id="koszyk-empty-message">
                Twój koszyk jest pusty.
            </H2>
        }
    </center>
    <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-primary" href="/#" role="button">Powróć do zakupów</a>
        <div class="d-flex align-items-center">



            @if (Model.CenaCalkowita > 0)
            {
                <div class="text-right">
                    <h4>Całkowita cena: @Model.CenaCalkowita zł</h4>
                </div>
                <td></td>
                <a class="btn btn-success" href="@Url.Action("Podsumowanie", "Koszyk")">Podsumowanie Zakupów</a>
            }
        </div>
        </div>
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryandJqueryUI")
    <script type="text/javascript">
        $(function () {
            $(".usunProdukt").click(function () {
                var produktIdDoUsuniecia = $(this).attr("data-id");

                if (produktIdDoUsuniecia != '') {
                    $.post("/Koszyk/UsunZKoszyka", { "produktId": produktIdDoUsuniecia },
                        function (response) {
                            if (response.OK) {
                                $('#koszyk-wiersz-' + produktIdDoUsuniecia).fadeOut('slow', function () {
                                    $(this).remove();
                                    $('#calkowita-cena-wartosc').text(response.KoszykCenaCalkowita);

                                    if (response.KoszykIloscPozycji == 0) {
                                        $("#koszyk-empty-message").show();
                                        $('#koszyk-button-zaplac').hide();
                                    }
                                });
                            } 
                        }, "json")
                    return false;
                }
            });
        });
    </script>


}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>