@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="container mt-4">
        <form id="search-form" class="form-inline" data-ajax="true" data-ajax-url="@Url.Action("_ProduktyList")" method="get">
            <input class="form-control mr-sm-2" type="search" id="search-query" name="searchQuery" placeholder="Wyszukaj w kategori..." data-autocomplete-source="@Url.Action("ProduktyPodpowiedzi")" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
    <p></p>
    <div class="row">
        @Html.Action("KategorieMenu")
        <div id="ProduktyList">
            @Html.Partial("_ProduktyList")
        </div>
    </div>
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
    <script>
        $(function () {
            var setupAutoComplete = function () {
                var $input = $(this);
                var options = {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };
                $input.autocomplete(options);
            };
            $("#search-query").each(setupAutoComplete);
        });
    </script>
}
